h1 {
    background-color:red;
}
h4{
    color:red;
    text-align: center;
    text-decoration: underline;
}
header {
    background-image:url("../Images/1Patterns.jpg");
    padding: 23px;
    text-align: center;
    text-decoration-color: black underline;
    color: white;
    font-size: 20px;
}

body {
    background-image:url("../Images/1Ancient1.png");
}


nav ul {
    list-style: none;
    padding: 10px;
}
article {
    width: 90%;
    height: 1000px;
    float: right;
    background-image:url("../Images/1Ancient1.png") ;
    background-repeat:repeat;
}
#sideb {
    width: 10%;
    background-image: url(../Images/canvas.png);
    height: 1000px;
    display: inline-block;
}


#head3 {
    text-align: center;
    color: tomato;
    display: contents;
}
footer {
    padding: 18px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    background-image:url("../Images/1Patterns.jpg");
  }
#search {
    float: right;
    background-color: blue;
}
nav a:hover{
    color: crimson;
    background-color: darkgoldenrod;
}
nav a{
    padding: 8px;
}
