h1 {
    background-color:red;
}
#publish {
    color: cyan;
    text-align: center;
    text-decoration: underline;
}
#name1{
    color: white;
    text-align: center;
    text-decoration: underline;
}
#top10{
  color: yellow;
}
#ii{
    color: rgb(235, 75, 47);
    text-decoration: underline;
}
#price{
    color: red;
    text-decoration: underline;
}
p{
    color: white;
}
h2{
    color: rgb(64, 224, 198);
}
header {
    background-color:rgb(rgba(179, 95, 17, 0.521), green, blue);
    padding: 23px;
    text-align: center;
    text-decoration-color: black underline;
    color: white;
    font-size: 20px;
}
body {
    background-image:url("../Images/1Ancient1.png");
    background-size: 100%;
    background-repeat: repeat;
}
@media only screen and (max-width: 600px) {
  #navb{
    padding-inline-start: 5px;
  }
}
#footer { 
  color: red;
  background-color: #00b128; 
} 
}
nav ul {
    list-style: none;
    padding: 10px;
}
article {
    width: 90%;
    height: 2000px;
    float: right;
    background-image:url("../Images/1Ancient1.png") ;
    background-repeat:repeat;
    background-size: 50%;
}
#sideb {
    width: 10%;
    /*background-image: url(../Images/canvas.png);*/
    background-image: ("../Images/1Ancient1.png");
    height: 2000px;
    display: inline-block;
}


#head3 {
    text-align: center;
    color: tomato;
    display: contents;
}
footer {
    padding: 20px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    background-color: rgb(92, 69, 26);
   /* background-image:url("../Images/1Patterns.jpg");*/
  }
#search {
    float: right;
    background-color: blue;
}
#logo{
    float: left;
}
nav a:hover{
    color: crimson;
    background-color: darkgoldenrod;
}
nav a{
    padding: 8px;
}
 /* Dropdown Button */
 .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /*.dropdown:hover .dropbtn {background-color: #3e8e41;} */

  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* Styling the read more button */
.read-more-btn{
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);   /* Changing the color of the read more button */
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;  /* Changing the size of the read more button */
    color: #fff;
    border: none!important;
}
/* Changing the color of the hover of the read more button */
.read-more-btn:hover{
    background-image: linear-gradient(to right, #006417, #00b128);
    text-decoration: none;
    color: #fff;
}

/*Styling FAQ page*/
#faq0 {
    
}